@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&family=Roboto+Mono:wght@100&display=swap');

.card {
    max-width: 350px;
    background-color: #fd7557;
    border-radius: 25px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;

    &__item {
        padding: 10px;
    }

    &__plan {
        font-size: 22px;
    }

    &__price {
        font-weight: 600;
        font-size: 40px;
    }


}

//Aplica uma modificação no componente filho a partir do componente pai
//Porem afeta de forma global
//ideal é que o componente filho tenha ids diferentes.
// ::ng-deep .card-cancel-button{
//     background-color: yellow !important;
// }

// ::ng-deep #cancel-button .card-cancel-button{
//     background-color: yellow !important;
// }

//O :host refere-se ao próprio componente onde o CSS está escrito.
//Aplique este estilo apenas aos elementos .card-cancel-button que estiverem dentro deste componente específico
//estilo local
:host ::ng-deep .card-cancel-button{
    background-color: yellow !important;
}


:host ::ng-deep .mdc-slider__track--active_fill{
    border-color: yellow !important;
}

.global{
    background-color: greenyellow;
}