<!-- <div class="cards-container">
    <app-card></app-card>
    <card-roxo></card-roxo>
    
</div> -->
<!--  
A vinculação de propriedades no Angular permite definir valores para propriedades de elementos HTML, componentes Angular e muito mais.

Use a vinculação de propriedades para definir valores dinamicamente para propriedades e atributos. Você pode, por exemplo, ativar/desativar recursos de botões, definir caminhos de imagens programaticamente e compartilhar valores entre componentes.

-->
<!-- <input
  id="meu-input"
  [value]="inputText"
  [type]="inputType"
  [disabled]="isDisabled"
  (keyup)="handleInputKeyup($event)"
  (input)="handleInputEvent($event)"
/>

<br />

<button (click)="enableInput()">Habilitar</button>
<button (click)="disableInput()">desabilitar</button> -->

<!-- <button [attr.title]="buttonTittle">Teste</button>

<button [attr.disabled]="buttonDisabled ? true: null">Disabled</button>

<button (click)="onButtonClick()">Mudar props</button> -->

<!-- <button style="width: 100px;background-color: aqua;">Botão 0</button>

<button [style.width]="widthButton1" [style.backgroundColor]="'blue'">Botão 1</button>

<button [style.width.px]="widthButton2" [style.backgroundColor]="'pink'">Botão 2</button>

<button [style]="'width: 140px; background-color: brown;'">Botão 3</button>

<button [style]="{ width: '150px', backgroundColor: 'orange'}">Botão 4</button>

<button [style]="stylesObj">Botão 5</button>

<button (click)="updateStyleObj()">Atualizar obj</button>

<button (click)="updateWidth()">Atualizar width</button> -->

<button [class.red-button]="isRedButton" (click)="isGreen = false;">Vermelho</button>

<button [class.green-button]="true" (click)="isGreen = true;">verde</button>

<button [class]="
{
  'red-button': !isGreen,
  'green-button': isGreen
}
">objeto</button>
