//importa a referencia de temas
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//afeta o track-slider do componente slider
.mdc-slider__track--active_fill{
    border-color: yellowgreen !important;
}

.emulate{
    background-color: green !important;
}